This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'Your_key'

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import json
import quandl
from collections import defaultdict

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [3]:
quandl.ApiConfig.api_key = 'Your-Key' #To check how the quandl.get work
data=quandl.get('FSE/AFX_X')
data.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2000-06-07,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0
2000-06-08,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0
2000-06-09,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
2000-06-12,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
2000-06-13,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0

In [4]:
data=data[data.index.year==2017]
data.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,NaN
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,NaN
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,NaN
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,NaN
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,NaN

3. Calculate what the highest and lowest opening prices were for the stock in this period.

In [5]:
data.Low.min()

33.62

In [6]:
data.High.max()

53.54

4. What was the largest change in any one day (based on High and Low price)?

In [7]:
(data.High-data.Low).max()

2.8100000000000023

5. What was the largest change between any two days (based on Closing Price)?

In [8]:
List=[]
for i in range(len(data.Close)-1):
    List.append(data.Close[i]-data.Close[i+1])
max(List)

2.559999999999995

6. What was the average daily trading volume during this year?

In [9]:
data['Traded Volume'].mean()

89124.33725490196

7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [10]:
data['Traded Volume'].median()

76286.0